.logo-img {
    border: 3px solid blue;
}

.table-header-invert-others-lblue {
    border: 6px dotted magenta;
}

.table-header-invert-others-lblue th {
    background-color: white;
    color: black;
    padding: 4px;
}

.table-header-invert-others-lblue td {
    color: lightblue;
    background-color: darkred;
    padding: 4px;
}

.embedded {
    margin: 10px;
    padding: 20px;
    width: 35%;
    border: 6px white solid;
}

.grid-table td {
    text-align: center;
    border: 2px solid orangered;
}