th {
    padding: 6px 10px;
}

table {
    border: 3px yellow dotted;
    background-color: maroon;
    color: whitesmoke;
    padding: 8px;
}

img:not(.changer) {
    margin: 6px;
}

hr {
    margin-bottom: 20px;
}

h1 {
    padding-right: 10px;
    border: 3px;
    border-bottom: 20px;

}

td>a>img {
    width: 13vmax;
    padding: 6px;
    border: 1px blue groove;
}

footer>a {
    color: black;
    padding-bottom: 100px;
}

#first-div:has(b[title]) a {
    color: red;
}

#first-div,
div:has(>p>b+bdo) {
    margin-right: 40px;
}

#pichover {
    background-color: rgba(236, 178, 204, 0.8);
    color: darkgreen;
    position: absolute;
    display: none;
    padding: 4px;
    z-index: 2;
}

body {
    margin: auto 15%;
}

iframe {
    resize: both;
    overflow: auto;
    height: 400px;
    width: 100%;
}

:root {
    --resizer-h: 10px;
    --resizer-scale: 2;
}

.changer {
    height: var(--resizer-h);
    width: calc(var(--resizer-h) * var(--resizer-scale));
    object-fit: cover;
    cursor: pointer;
}